#!/bin/sh

MASTER_HOST=192.168.56.143
SLAVE_HOST=192.168.56.144
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=Secret-4-root
MYSQL_USER_REPLICA=replica
MYSQL_USER_PASSWORD_REPLICA=replica

echo "MASTER: $MASTER_HOST"
MYSQL_PWD="$MYSQL_ROOT_PASSWORD" mysql -h "$MASTER_HOST" -u "$MYSQL_ROOT_USER"  "$@" <<-EOSQL &
    RESET MASTER;
    FLUSH LOGS;
    FLUSH PRIVILEGES;
EOSQL

MASTER_STATUS=$(MYSQL_PWD="$MYSQL_ROOT_PASSWORD" mysql -h "$MASTER_HOST" -u "$MYSQL_ROOT_USER"  "$@" -e "SHOW MASTER STATUS;" | awk 'FNR == 2 {print $1 " " $2}')
LOG_FILE=$(echo $MASTER_STATUS | cut -f1 -d ' ')
LOG_POS=$(echo $MASTER_STATUS | cut -f2 -d ' ')
echo "  - Current log file is $LOG_FILE and log position is $LOG_POS"

echo "SLAVE: $SLAVE_HOST"
echo "  - Setting up slave replication"
MYSQL_PWD="$MYSQL_ROOT_PASSWORD" mysql -h "$SLAVE_HOST" -u "$MYSQL_ROOT_USER" "$@" <<-EOSQL &
    STOP SLAVE;
    CHANGE MASTER TO MASTER_HOST='$MASTER_HOST',
    MASTER_USER='$MYSQL_USER_REPLICA',
    MASTER_PASSWORD='$MYSQL_USER_PASSWORD_REPLICA',
    MASTER_LOG_FILE='$LOG_FILE',
    MASTER_LOG_POS=$LOG_POS;
    START SLAVE;
EOSQL

# Wait for slave to get started and have the correct status
sleep 2
# Check if replication status is OK
SLAVE_OK=$(MYSQL_PWD="$MYSQL_ROOT_PASSWORD" mysql -h "$SLAVE_HOST" -u "$MYSQL_ROOT_USER" "$@" -e "SHOW SLAVE STATUS\G;" | grep 'Waiting for master')
if [ -z "$SLAVE_OK" ]; then
    echo "  - Error ! Wrong slave IO state."
else
    echo "  - Slave IO state OK"
fi
